.Header {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    height: 70px;

}

.HeaderLink {
    margin-left: 10px;
    flex-wrap: wrap;
    max-width: 100%;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

.HeaderLink {
    flex-wrap: wrap;
    max-width: 100%;
    font-size: 20px;
    font-weight: bolder;
    font-weight: normal;

    color: #000000;
}

button {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: 10PX;
    border: none;
    font-size: 15px;
    color: rgb(255, 0, 0);
    padding: 10px;
    text-decoration: none;
}