.Header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #009999;
    padding-right: 30px;
    padding-left: 30px;
    height: 70px;
}

.HeaderLink {
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    .Header {
        justify-content: center;
        height: 100px;
    }
}