.Admin {
    min-height: calc(100vh - 70px - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.Admin input {
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 10px;
    border-color: #009999;
    border-style: solid;
    width: 285px;
}

.Admin button {
    padding: 8px;
    border-radius: 10px;
    border-style: none;
    background-color: #009999;
    color: white;
    width: 300px;
}

.Admin p {
    text-align: center;
    font-size: x-large;
}

.Admin .calcs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 70%;
}

.Admin .calcs .calc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-color: #009999;
    width: 300px;
}

.Admin .calcs .calc button {
    width: 250px;
    margin-bottom: 10px;
}

.Admin .calcs .calc p {
    font-size: medium;
}

@media (max-width: 768px) {
    .Admin p {
        font-size: larger;
    }

    .Admin .calcs {
        max-width: 100%;
    }
}