.InterfaceCalc {
    min-height: calc(100vh - 70px - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    max-width: 100%;
    flex-wrap: wrap;
}

.InterfaceCalc input {
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 10px;
    border-color: #009999;
    border-style: solid;
}

.InterfaceCalc button {
    padding: 8px;
    border-radius: 10px;
    border-style: none;
    background-color: #009999;
    color: white;
}

.InterfaceCalc p {
    text-align: center;
    font-size: x-large;
}

@media (max-width: 768px) {
    .InterfaceCalc {
        width: 300px;
    }

    .InterfaceCalc p {
        font-size: larger;
    }
}