.Main .content {
    min-height: calc(100vh - 70px - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    max-width: 100%;
    flex-wrap: wrap;
}